<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    　<li>
        <%= link_to "post_form", new_book_image_path %> 
      </li>
      <li>
        <%= link_to "sign_out", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "sign_up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "login", new_user_session_path %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
